name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.21"
          cache: true

      - name: Build Go binary
        run: go build -v ./cmd/api

      - name: Docker build
        run: docker build -t goblog-app .

      - name: Validate docker-compose
        run: docker compose config
